html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.main-container {
    width: 100%;
    background-color: rgb(15, 15, 15);
    display: grid;
    grid-template-columns: repeat(3, 400px);

    padding: 50px;
    flex-direction: column;
    color: white;
    gap: 20px;
}
.card {
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}
img {
    width: 200px;
    height: 200px;

    border-radius: 10px;
}
h2 {
    text-align: center;
}
a {
    text-decoration: none;
    color: white;
}
.card:hover {
    img {
        scale: 1.1;
        transition: ease-in-out 0.5s;
        box-shadow: rgba(255, 255, 255, 0.25) 0px 13px 27px -5px,
            rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }
}
.card:hover {
    transition: ease-in-out 1s;
    box-shadow: rgb(255, 255, 255) 0px 13px 27px -5px,
        rgba(255, 255, 255, 0.3) 0px 8px 16px -8px;
}

.show-container {
    background-color: rgb(15, 15, 15);
}
@media screen and (max-width: 768px) {
    .main-container {
        grid-template-columns: repeat(1, 100%);
    }
}

@media screen and (max-width: 1024px) {
    .main-container {
        grid-template-columns: repeat(3, 1fr);
    }
    html,
    body {
        overflow: auto;
    }
}
@media screen and (max-width: 1366px) {
    .main-container {
        grid-template-columns: repeat(3, 1fr);
    }
}
